@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background-color: #efefef;
  --text-color: #333333;
}

html {
  height: 100%;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

html *,
html *:before,
html *:after {
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
  position: relative;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  height: 100%;
  background: var(--background-color);
  color: var(--text-color);
}
